@font-face {
  font-family: 'A';
  src: url('/fonts/Amaranth-Bold.otf')  format('truetype');
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-VariableFont_wght.ttf')  format('truetype');
}

table{
  border: 1px solid black;
  border-spacing: 0.5rem;
  border-collapse: collapse;
}

td, tr {
  border: 1px solid #999;
  padding: 0.5rem;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.showall{
    border-radius: 10px;
    margin-left: 8px;
    text-decoration: none;
    border: none;
    background-color:#00d5ff;
    font-family: 'Exo';
    font-weight: bold;
  }

.dropdown{
  margin-left: 8px;
}

.main{
  display:flex;
  flex-direction: row;
  height: 98vh;
  width: 98vw;
}

.left-pane{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: grey;
}

.option-button{
  display: none;
}

.logo-container{
  background-color: black;
  width: 100%;
  height: 8;
}


.logo{
  height: 30px;
  width: 30px;
  margin-top: 4px;
}



.logo-font{
  font-family: 'A';
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-left: 2px;
}

.option-panel{
  display: flex;
  flex-direction: column;
}

.option{
  font-family: 'Exo';
  border: solid 1px black;
  color: white;
  background-color: grey;
  height: 40px;
  cursor: pointer;

}

.option2{
  display: none;
}

.right-pane{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ajax{
  font-family: 'Exo';
  margin-left: 80px;
  margin-top: 20px;
}

.choose-class-for-tally{
  font-family: 'Exo';
  margin-left: 80px;
  margin-top: 20px;
  display: none;
}

.show-schedule-by-date{
  font-family: 'Exo';
  margin-left: 80px;
  margin-top: 20px;
  display: none;
}

.fetchResults{
  font-family: 'Exo';
  margin-left: 80px;
  margin-top: 20px;
  display: none;
}

.as-it-stands{
  display: flex;
  flex-direction: column;
  height: 125%;
  width: 30;
  margin-left:75px;
  font-family: 'Exo';
  border: solid black 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.as-it-stands-div{
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;

}


@media all and (max-device-width:480px){


  .showall{
      border-radius: 10px;
      margin-left: 6px;
      text-decoration: none;
      border: none;
      background-color:#00d5ff;
      font-family: 'Exo';
      font-weight: bold;
      width: 80px;
      height: 20px;
    }

  .dropdown{
    margin-left: 6px;
    width: 80px;
    height: 20px;

  }


.main{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 98%;
}

.left-pane{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: pink;
  height: auto;
}


.logo-container{
  display: inline;
}

.option-button{
  display: inline-block;
  color:yellow;
  background-color: black;
  margin-bottom: 4px;
}

.option-panel{
  width: 100%;
  background-color: violet;
}


.option2{
  font-family: 'Exo';
  border: solid 1px black;
  color: white;
  background-color: grey;
  height: 40px;
  display: block;
}

.right-pane{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ajax{
  font-family: 'Exo';
  height: auto;
  width: 100%;
  margin-left:2px;
  margin-top: 10px;
}


.choose-class-for-tally{
  font-family: 'Exo';
  height: 100%;
  margin-left:2px;
  margin-top: 10px;
}

.show-schedule-by-date{
  font-family: 'Exo';
  height: 100%;
  margin-left:2px;
  margin-top: 10px;
}

.fetchResults{
  font-family: 'Exo';
  height: 100%;
  margin-left:2px;
  margin-top: 10px;
}
